<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	   default-lazy-init="true">	<!-- 定义DataSource -->
	<bean id="dbcp" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="username" value="root"></property>
		<property name="password" value="hefeng"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://116.62.226.47:3306/credit?useUnicode=true&amp;characterEncoding=utf8"></property>
		<property name="validationQuery" value="select 1"></property>
		<property name="testWhileIdle" value="true"></property>
		<property name="timeBetweenEvictionRunsMillis" value="3600000"></property>
		<property name="minEvictableIdleTimeMillis" value="18000000"></property>
	</bean>
	
	<!-- 定义SqlSessionFactoryBean -->
	<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指定dataSource -->
		<property name="dataSource" ref="dbcp"></property>
		<!-- 指定SQL定义文件 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
		<property name="configLocation" value="classpath:conf/mybatis.config.xml" />
	</bean>

	<!-- 定义MapperScanner -->
	<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定Mapper接口 -->
		<property name="basePackage" value="com.ly.credit.dao"></property>
		<!-- 指定SqlSessionFactory,省略 -->
	</bean>

</beans>

